<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h1> Post </h1>
  <% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <h3><%= post.author %></h3>
  <p><%= post.body %></p>
  <%= link_to 'Back', post_path(post) %>
<% end %>

